* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt',sans-serif;
}
.app {
  background-image: url('./assets/cold-bg.jpg') ;
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}
.app.warm {
  background-image: url('./assets/warm-bg.jpg');
}
main {
  min-height: 100vh;
}